#bg{
	position:fixed;
	top:50%;
	left:50%;
	height:128;
	width:276;
	margin-left:-138px;
	margin-top:-62px;
	z-index:3;
}

.timer{
	font-size: 30px;
	text-align:justify;
	position:fixed;
	margin-top:75px;
	top:50%;
	left:50%;
	right:50%;
	margin-left:-175px;
	margin-right:-175px;
	letter-spacing:5px;
	width:40px;
	.background:#ffffff;
	color:#000;
	text-shadow:
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff;
	font-family:Bahnschrift;
	z-index:3;
}

#days{
	margin-left:-175px;
	margin-right:-175px;
	animation: out 1.0s ease infinite;
	animation-fill-mode: forwards;
}
#hours{
	margin-left:-80px;
	margin-right:-80px;
	animation: out 1.0s ease infinite;
	animation-fill-mode: forwards;
}
#minutes{
	margin-left:26px;
	margin-right:26px;
	animation: out 1.0s ease infinite;
	animation-fill-mode: forwards;
}
#seconds{
	margin-left:130px;
	margin-right:130px;
	animation: out 1.0s ease 1;
	animation-fill-mode: forwards;
}
#daysa{
	margin-left:-175px;
	margin-right:-175px;
	animation: in 1.0s ease infinite;
	animation-fill-mode: forwards;
}
#hoursa{
	margin-left:-80px;
	margin-right:-80px;
	animation: in 1.0s ease infinite;
	animation-fill-mode: forwards;
}
#minutesa{
	margin-left:26px;
	margin-right:26px;
	animation: in 1.0s ease 1;
	animation-fill-mode: forwards;
}
#secondsa{
	margin-left:130px;
	margin-right:130px;
	animation: in 1.0s ease 1;
	animation-fill-mode: forwards;
}


#bg-img{
	position:fixed;
	margin:0 auto;
	padding:0;
	bottom:0px;
	left:5px;
	
}
#stylizedtext{
	color:#139DFA;
	font-family:Bahnschrift;
}

#main{
	padding: 0;
	margin: 0 auto;
	z-index:2;
	position:relative;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
#anim-bg{
	position:fixed;
	top:-5%;
	left:-5%;
	width:125%;
	margin-right:0px;
	height:110%;
	z-index:1;
	opacity:100%;
	filter: blur(3px);
}

#loading{
	position:fixed;
	right:5px;
	bottom:5px;
}
#bg-preludins{
	position:fixed;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	z-index:3;
	opacity:100%;
}
#preludins{
	position:fixed;
	top:50%;
	bottom:50%;
	margin-top:-490;
	margin-bottom:-490;
	left:50%;
	right:50%;
	margin-left:-980;
	z-index:3;
}
#character{
	position:fixed;
	margin-left:20px;
	height:100%;
	z-index:2;
}
#event1{
	.opacity:0%;
}
