#bg{
	position:center;
	padding-top:20%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#zagolovok{
	text-align:center;
	width:100%;
	display:block;
	padding-top: 15%;
	line-height:0%;
	color:#139DFA;
	font-family:Bahnschrift;
}
#timertext{
	text-align:center;
	display:block;
	padding-top: 5%;
	color:#139DFA;
	font-family:Bahnschrift;
}
#timer{
	font-size: 30px;
	text-align:center;
	position:fixed;
	padding-top:0%;
	width:100%;
	color:#139DFA;
	font-family:Bahnschrift;
}
#timerclosetext{
	position:absolute;
	text-align:left;
	padding-top:0px;
	line-height:10px;
	color:#139DFA;
	font-family:Bahnschrift;
	top:8px;
}
#timerclosetext2{
	position:absolute;
	text-align:left;
	padding-top:21px;
	line-height:15px;
	color:#139DFA;
	font-family:Bahnschrift;
	top:8px;
}
#bg-img{
	position:fixed;
	margin:0 auto;
	padding:0;
	bottom:0px;
	left:5px;
	
}
#stylizedtext{
	color:#139DFA;
	font-family:Bahnschrift;
}
#timerclosetext3{
	position:absolute;
	text-align:left;
	padding-top:40px;
	line-height:15px;
	color:#139DFA;
	font-family:Bahnschrift;
	top:35px;
}
#timerclose{
	position:absolute;
	text-align:left;
	padding-top:21px;
	line-height:15px;
	color:#139DFA;
	font-family:Bahnschrift;
	top:80px;
}
#news{
	position:absolute;
	text-align:right;
	padding-top:5px;
	color:#139DFA;
	top:-10px;
	right:0px;
}

#main{
	padding: 0;
	margin: 0 auto;
	z-index:2;
	position:relative;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#anim-bg{
	position:fixed;
	top:-5%;
	left:-5%;
	width:110%;
	height:110%;
	z-index:1;
	opacity:50%;
}
#loading{
	position:fixed;
	right:5px;
	bottom:5px;
}
#test{
	position:fixed;
	right:200px;
	bottom:46px;
	color:#bbbdc1;
	text-shadow: none;
}