#bg{
	position:center;
	padding-top:4%;
	padding-bottom:0%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#zagolovok{
	text-align:center;
	width:100%;
	display:block;
	padding-top: 15%;
	line-height:0%;
	color:#139DFA;
	font-family:Bahnschrift;
}
#timertext{
	text-align:center;
	display:block;
	padding-top: 5%;
	color:#139DFA;
	font-family:Bahnschrift;
}
#timer{
	font-size: 60px;
	text-align:center;
	width:100%;
	display:block;
	padding-top: 1%;
	line-height:0%;
	color:#139DFA;
	font-family:Bahnschrift;
}
#timerclosetext{
	position:absolute;
	text-align:left;
	padding-top:0px;
	line-height:10px;
	color:#139DFA;
	font-family:Bahnschrift;
	top:15px;
}
#timerclosetext2{
	position:absolute;
	text-align:left;
	padding-top:21px;
	line-height:15px;
	color:#139DFA;
	font-family:Bahnschrift;
	top:15px;
}
#bg-img{
	position:absolute;
	bottom:5px;
	left:5px;
	
}
#stylizedtext{
	color:#139DFA;
	font-family:Bahnschrift;
}
#timerclosetext3{
	position:absolute;
	text-align:left;
	padding-top:40px;
	line-height:15px;
	color:#139DFA;
	font-family:Bahnschrift;
	top:40px;
}
#timerclose{
	position:absolute;
	text-align:left;
	padding-top:21px;
	line-height:15px;
	color:#139DFA;
	font-family:Bahnschrift;
	top:90px;
}
#news{
	position:absolute;
	text-align:right;
	padding-top:5px;
	color:#139DFA;
	top:-10px;
	right:0px;
}
